* {
    box-sizing: border-box;
}

html,
body {
    background-color: blanchedalmond;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    background-color: red;
    color: white;
    border-radius: 7px;
    width: 33%;
    text-align: center;
    align-items: center;
    height: auto;
    text-transform: capitalize;
    font-weight: 700;
    border: solid 3px black;
    font-size: auto;
    font-family: Arial, Helvetica, sans-serif;



}

header {
    font-size: 5vw;
}

footer {
    background-color: red;
    /* display: flex; */
    /* border-radius: 5px; */
    color: red;

}

.name-area {
    background-color: white;
    color: black;
    font-size: 5vw;
}