* {
    box-sizing: border-box;
}

html,
body {

    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5rem;
}

body {
    background-image: url(./assets/flannel.jpg);

}

.container {
    position: sticky;
    top: 10px;
    bottom: 125px;
    background-color: red;
    color: white;
    border-radius: 7px;
    width: 33%;
    text-align: center;
    align-items: center;
    height: auto;
    text-transform: capitalize;
    font-weight: 700;
    border: dashed 4px rgb(209, 202, 202);
    font-size: auto;
    font-family: 'Fjalla One', sans-serif;

}

header {
    font-size: 5vw;
}

section {
    background-color: red;
    display: flex;
    border-radius: 5px;
    color: red;
    font-size: 3rem;

}

.name-area {
    background-color: white;
    color: black;
    font-size: 5vw;
    font-family: fantasy;
}

img {
    background: no-repeat;
    background-size: stretch;
}

#footer {
    position: absolute;
    bottom: 2px;
    width: auto;
    height: 1.5rem;
    text-align: center;
    font-size: 100%;
    color: floralwhite;
    text-decoration: underline;
    font-family: 'Fjalla One', sans-serif;
    text-transform: capitalize;
    font-weight: 700;
}

#btn-click {
    background-color: #FFDC00;
}
.name-change-cnt {
    position: absolute;
    top: 10%;
    display: grid;
    height: 100px;
    
}